In [13]:
import pandas as pd
url= 'https://raw.githubusercontent.com/haithamabbas1/Data-Assigment/main/datafile.csv'
df= pd.read_csv(url)

In [14]:
df.info() #having a flaot will cause and added .0 while exporting, its better to stick to a convention

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PG      1001 non-null   int64
 1   PGC     1001 non-null   int64
 2   LOT     1001 non-null   int64
 3   PD      999 non-null    float64
 4   WF      1001 non-null   int64
dtypes: float64(1), int64(4)
memory usage: 39.2 KB

In [15]:
df.head()

   PG  PGC     LOT   PD       WF
0   9    5  224259  8.0  3066398
1   9    5  224259  NaN  3066398
2  10    5  257571  6.0  3818899
3  10    5       6  6.0     7550
4  10    5       6  6.0      530

In [18]:
def Assignment(Dataframe, Column): #function that takes 2 arguments, the dataframe name and the number of the column
    Dataframe.dropna(how="all", inplace=True) # this step is unnecessary since pandas doesnt include rows with
                                              #entirley no data
    Dataframe.fillna("NA", inplace=True) #fills null values with string "NA"
    Dataframe.drop_duplicates(inplace=True) #drop duplicates
    dfU=Dataframe.iloc[:,Column].unique() #create and array with all the unique values in a given column 
                                          #to slice based on the value of the column
    for i in dfU:
        if i != "NA" :
            SlicedFrame=Dataframe.loc[Dataframe.iloc[:,Column] == i]
            filename = r'Assignment_{}.csv'.format(int(i))
            #The format was added to handle the column PD which is type Float, there will be an extra .0 added which doesnt meet the standrad of the convention
            SlicedFrame.to_csv(filename, index=False)
        else :
            SlicedFrame=Dataframe.loc[Dataframe.iloc[:,Column] == i]
            filename = r'Assignment_NA.csv'
            SlicedFrame.to_csv(filename, index=False)

In [19]:
Assignment(df,3) #in this example I took dataframe df and the first column, 7 files where imported

# to double check the work we can use nunique, since the number of imported files should equal the unique values

In [20]:
def DoubleCheck(Dataframe, Column):    
    df_new=Dataframe.copy()
    Dataframe.fillna("NA", inplace=True) #fills null values with string "NA"
    Dataframe.drop_duplicates(inplace=True) #drop duplicates
    UniqueCount=df_new.iloc[:,Column].nunique()
    print(f'the number of documents downloaded to the location should be {UniqueCount}')

In [21]:
DoubleCheck(df,3)

the number of documents downloaded to the location should be 202